<div>
  <div id="message-display">
  </div>
  <div id="message-form">
    <form action="" id="message-form" style="width: 250px;">
      <div class="">
        <div class="input-group mb-3" >
            <input type="text" id="message-input" class="form-control" placeholder="Message" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="submit-button">
            <input type="submit" value="Send Message" class="btn btn-secondary">
        </div>
      </div>
    </form>
  </div>
</div>